<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
            <p><strong>Our Address</strong><br>
                121, Clear Water Bay Road<br>
                Clear Water Bay, Kowloon<br>
                HONG KONG<br>
                <i class="icon ion-android-call">: +852 1234 5678</i><br>
                <i class="icon ion-printer">: +852 8765 4321</i><br>
                <i class="icon ion-email">: </i><a href="#">confusion@food.net</a>
            </p>
        </div>
        <div class="button-bar">
            <a class="button button-positive icon ion-android-call"> Call</a>
            <a class="button button-calm icon ion-social-skype"> Skype</a>
            <a class="button button-balanced icon ion-email"> Email</a>
        </div>
    </div>
  </ion-content>
</ion-view>